*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;  
}
body, html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
 border-bottom-width: 20px;
 
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}
.box{
  background: rgb(163, 163, 163);
  width: 400px;
  height: 275px;
}
.botao1{
  
}
.botao2{
  
}

